.ttl,
.tfa__ttl,
.confirm__ttl {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.content {
    width: 380px;
    margin: 0 auto;
}

.content__form {
    display: flex;
    flex-direction: column;
}

.form__input,
.tfa__form--input {
    background-color: transparent;
    border: 2px solid #909090;
}

.form__input::placeholder,
.tfa__form--input::placeholder {
    font-weight: bold;
    color: #909090;
    font-size: 14px;
}

.form__error {
    padding: 5px 5px;
    color: #ff0000;
    font-size: 14px;
}

.form__btn {
    margin-bottom: 30px;
}

.form__btn,
.tfa__form--btn {
    background-color: #214be0;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form__input,
.form__btn,
.tfa__form--input,
.tfa__form--btn {
    padding: 15px 15px;
    border-radius: 3px;
}

.content__box {
    text-align: center;
}

.content__box--txt {
    margin: 0;
}

.content__box-link {
    text-decoration: none;
    color: #214be0;
    font-weight: bold;
}

.tfa__ttl {
    margin-bottom: 0;
}

.tfa__content {
    width: 380px;
    margin: 0 auto;
}

.tfa__txt {
    width: 380px;
    margin: 8px auto;
    text-align: center;
}

.tfa__form {
    display: flex;
    flex-direction: column;
}

.tfa__form--input {
    margin-bottom: 40px;
}

#btn_1 {
    margin-bottom: 80px;
}



@media screen and (max-width:480px) {
    .content,
    .tfa__txt {
        width: 80%;
    }

    .content__box--txt {
        font-size: 13px;
    }

    .content__box--link {
        font-size: 13px;
    }

    .tfa__txt{
        font-size: 12px;
    }

    .confirm__ttl{
        font-size: 20px;
    }
}